<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
    <link  rel="icon" type="image/png" href="/images/mifavicon.png"  />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d80f5cb230.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="stylesheet" href="/CSS/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="top-heade" >
            <div class="log">
                 <img src="/images/logo-mercado-liebre.svg" class="logo">
            </div>

            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="buscar"><input type="submit" value="Buscar"></div>
            </div>
            

            <h2 class="copy-header">
              <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="ofertas">Ofertas</a> </li>
                <li> <a href="tiendas_oficiales"> Tiendas Oficiales</a></li>
                <li><a href="vender">Vender</a></li>
                <li><a href="ayuda">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="crea_tu_cuenta">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="ingresa">Ingresá <i class="far fa-id-card"></i></a></li>
                <li><a href="mis_compras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="hamburger-buttom">
            <i class="fas fa-bars"></i>
        </div>
       
    </header>




    <main>
        <img class="baner" src="/images/img-home-banner.jpg" alt="">
        <section class="seccion1">
            <h2 class="secciones">Basado en tu última visita</h2>
            <div class="products">
                <article>
                        <img class="img" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                        <div class="productos2">
                            <i class="fas fa-truck"></i>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                            <h4 class="descripciones"><strong>Cafetera Moulinex</strong> </h4>
                        </div>
                </article>
                <article>
                    <img  class="img" src="/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="productos2">
                        <i class="fas fa-truck"></i>
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <h4 class="descripciones"><strong> MacBook Pro 2019</strong></h4>
                    </div>    
                </article>
            
                <article>
                    <img  class="img" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="productos2">
                        <i class="fas fa-truck"></i>
                        <p  class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                        <h4 class="descripciones"><strong> Samsung Galaxy S10 </strong></h4>
                    </div>    
                </article>
                
                <article>
                    <img  class="img" src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="productos2">
                        <i class="fas fa-truck"></i>
                        <p  class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <p class="descripciones"><strong> SmartTv Samsung 43" </strong></p>
                    </div>
                </article>
            </div>
        </section>   
    <hr>   
        <section class="seccion2">
            <h2 class="secciones">Sección de Ofertas</h2>

            <div class="products">
                <article>
                        <img  class="img" src="/images/img-cafetera-moulinex.jpg" alt="">
                        <div class="productos2">
                            <i class="fas fa-truck"></i>
                            <p  class="precios">$6770</p>
                            <p class="descuentos">40% OFF</p>
                            <h4 class="descripciones"><strong> Cafetera Moulinex </strong></h4>
                        </div>    
                </article>
                
                <article>
                        <img  class="img" src="/images/img-macbook-pro-2019.jpg" alt="">
                        <div class="productos2">
                            <i class="fas fa-truck"></i>
                            <p  class="precios">$230.000</p>
                            <p class="descuentos">20% OFF</p>
                            <h4 class="descripciones"><strong>MacBook Pro 2019</strong></h4>
                        </div>    
                </article>
                

                <article>
                        <img  class="img" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                        <div class="productos2">
                            <i class="fas fa-truck"></i>
                            <p  class="precios">$70.500</p>
                            <p class="descuentos">10% OFF</p>
                            <p class="descripciones"><strong> Samsung Galaxy S10 </strong></p>
                        </div>    
                </article>
                

                <article>
                        <img  class="img" src="/images/img-tv-samsung-smart.jpg" alt="">
                        <div class="productos2">
                            <i class="fas fa-truck"></i>
                            <p  class="precios">$23.200</p>
                            <p class="descuentos">5% OFF</p>
                            <h4 class="descripciones"><strong> SmartTv Samsung 43" </strong></h4>
                        </div>    
                </article>
            </div>   
        </section>
    </main>
    <hr>    
    <footer class="piePagina">
        <div class="footerdiv">
            <i class="fas icono fa-credit-card"></i> 
            <h2 class="footertittle">Pagá con tarjeta o en efectivo</h2>
            <p class="legales">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div class="footerdiv">
            <i class="fas icono fa-gift"></i>
            <h2 class="footertittle">Envío gratis desde $ 2.500</h2>
            <p class="legales">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="footerdiv">    
            <i class="fas icono fa-user-shield"></i>
            <h2 class="footertittle">Seguridad, de principio a fin</h2>
            <p class="legales">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.</p>
        </div>

        <div class="copy"><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></div>
    </footer>
</body>
</html>